.spacing-1 {
    margin-top: 5em;
}

.spacing-2 {
    margin-top: 1em;
}

.center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.float-right {
    float: right !important;
}