@model ScheduleViewModel
<div class="row mt-1">
    <h2 class="center">@Model.ActionName</h2>
    <div class="spacing-1"></div>
    <div class="col-md-6">
        @await Component.InvokeAsync("AppointmentList")
    </div>
    <div class="col-md-4">
        <form method="post" asp-action="@Model.Action" asp-controller="@Model.Controller">
            <div class="input-group date" id="scheduleDate">
                <input type="text" class="form-control" asp-for="ScheduleDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <textarea class="form-control mt-1" asp-for="Description"></textarea>
            <button type="submit" class="btn btn-primary mt-1">@Model.ButtonTitle</button>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#scheduleDate").datetimepicker();
        });
    </script>
}